<section id="comments-container">
    {{#each comments as |comment|}}
    <article class="individual-comment">
        <h6>{{comment.made_by}} // {{comment.createdAt}}</h6>
        <p>{{comment.comment}}</p>
    </article>
    {{/each}}
    <input type="text" id="comment-box" placeholder="Enter comment">
        <button id="post">Post</button>
        <ul id="unordered">
       
        </ul>
</section>
<script src="./js/comments.js"></script>