<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RE-Connect</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <header>
        <img src="/images/icon-hamburger.svg" alt="Navigation icon for the mobile version of the application" id="nav-icon">
        <nav>
            <section id="navigation-links">
                <a class="nav-btn" href="/">Home</a>
                <a class="nav-btn" href="/postings">Postings</a>
            </section>
            <section id="navigation-account">
                {{#if logged_in}}
                <a href="/userProfile" class="nav-btn" id="useProf">Profile</a>
                <button href="/logout" class="nav-btn" id="logout-btn">LogOut</button>
                {{else}}
                <a href="/login" class="nav-btn">Log In</a>
                {{/if}}
                
            </section>
        </nav>
    </header>
    <main>
    {{{body}}}

    </main>
    <footer>
        <h6>This project was created and developed by:</h6>
        <ul>
            <li><a href="http://github.com/ckyser1">Cody Kyser</a></li>
        </ul>
    </footer>
    <script src="/js/navigation.js"></script>
    {{#if logged_in}}
        <script src="/js/logout.js"></script>
        <script src="/js/userProfile.js"></script>
    {{/if}}
    <script src="/js/search.js"></script>
</body>
</html>
