{{!-- Have this contain the background hero image along with text content for the landing page of the document. --}}
<section id="hero-section">
    <h1>
        MVC Tech Blog
    </h1>
    <h2>
        View Current Postings, or Create an Account to Post Yourself
    </h2>
</section>


