<section id="login-container">
    <h2>Please Enter Your Log in Details.</h2>
    <p id="incorrectInformation"></p>
    <form id="login-form">
        <label for="userEmail">Email Address:</label> <br>
        <input type="text" name="userEmail" id="userEmail" placeholder="Email Address" autocomplete="off"><br>
        <label for="userPassword">Password:</label><br>
        <input type="password" name="userPassword" id="userPW" placeholder="Password" autocomplete="off"><br>
        <input type="submit" value="Log in" id="login-btn"><br>
    </form>
    <p>Not a user? <a href="/signup">Sign up now!</a></p>
</section>

<script src="./js/login.js"></script>
