<section id="new-post-container">
    <h2>Fill out the form to create a new posting //</h2>
    <form id="new-post-form">
        <label for="post-title">Title</label>
        <input name="post-title" type="text" id="post-title" required="required">
        <label for="post-bio">Information</label>
        <textarea name="post-bio" type="text" id="post-bio" placeholder="Fill out the information that you would like to be posted here." form="new-post-form" maxlength="500" required="required"></textarea>
        <input type="submit" value="Create Post">
    </form>
</section>
<script src="/js/createPost.js"></script>